<img src="/modules/custom/dac_slack_invite/img/top.png" alt="Participate!">
<em>Click the slack logo to get an invite.</em><br />
<div style="text-align:center">
<script async defer src="https://dacslack.herokuapp.com/slackin.js?large"></script><br />
</div>
<p>Need to Login? <a href="https://drupalac.slack.com" target="_blank">Click Here</a></p>
