body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.view-header .node__title {
   display:none;
}

.site-branding__logo {
    min-width: 200px;
    min-height: 200px;

    -webkit-filter: drop-shadow(2px 1px 5px #077AE0);
            filter: drop-shadow(2px 1px 5px #077AE0);
}

#header {
    position: relative;
    min-height: 280px;
}

.location__label {
    display: none;
    position: absolute;
    background: #263878;
    padding: 4px;
}

.platforms > li a {
  padding-left: 5px;
}

#youtubechannel-player {
  max-width: 560px !important;
  max-height: 400px !important;
  width: 100% !important;
  height: 315px !important;
}

#youtubechannel-frame {
  max-width: 560px !important;
  max-height: 315px !important;
  width: 100% !important;
  height: 315px !important;
}

#youtubechannel-list {
  max-width: 560px !important;
  max-height: 315px !important;
  width: 100% !important;
  height: auto !important;
}

.view-id-news_centre .views-col {
  box-sizing: border-box;
  padding-right: 20px;

  word-wrap: break-word;
}

/* Author Bios */
.author {
  border-top: 4px solid #077AE0;
  background: #efefef;
  padding: 10px 10px 30px 10px;
  display: flex;
}

.author .author--image {
  -webkit-flex: 1 0 20%;
  flex: 1 0 20%;
  text-align: center;
  padding-right: 5px;
}

.author .author--image .author-frame{
  border: 3px solid #077AE0;
  margin: 0 auto;
}

.author .author--image .author-frame,
.author .author--image .author-frame img{
	width: 100px;
	height: 100px;
	-webkit-border-radius: 70px; /* Saf3+, Chrome */
	border-radius: 70px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px;  Disabled for FF1+ */
	}

.author .author--info {
  -webkit-flex: 1 1 80%;
  flex: 1 1 80%;
}

.author .author--info .author--info--name {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  margin: 0;
  padding-bottom: 4px;
  border-bottom: 2px #eee;
}

.author .author--info .author--info--bio {
  width: 100%;
  padding-top: 2px;
  padding-bottom: 4px;
  margin-top:0;
}

.author .author--info .author--info--links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.author .author--info .author--info--links .author--info--links-link {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.author .author--info .author--info--links .author--info--links-link a {
  padding: 5px 10px;
  margin: 10px;

  text-decoration: none !important;
  border-bottom: none !important;
}
